<aside style="position:relative;">
    {%- if forloop.first -%}
        <sup class="latest">最新</sup>
        {% endif %}
    <a href="{{ post.url | relative_url }}">
    <h3>
        {{ post.title }}
    </h3>
    {% if post.updated_at %}
    <mark class="update"><small>更新于</small></mark><small>{{ post.updated_at | timeago }} </small>
    {% else %}
    <small>{{ post.date | timeago }} </small>
    {% endif %}
    
    <p>{{ post.excerpt }}</p>  
    {%- if post.tags.size > 0 -%}
        {%- for tag in post.tags -%}
        <small><mark>#{{ tag }}</mark></small>
        {%-endfor-%}
    {%-endif-%}
    </a>
</aside>