{%- if entry.type == 'series' and site.data.series.size > 0 -%}
  {%- assign entry = entry -%}
  {%- include column_desc.html entry=entry -%}
  {%- assign series = site.data.series -%}
  {%- include series_cards.html series=series -%}
{%- endif -%}

{%- if entry.type == 'latest' and site.posts.size > 0 -%}
  {%- include column_desc.html entry=entry -%}
  {%- assign show_lastest_size = 3 -%}
  {% include post_list_fragment.html posts=site.posts show_category=true limit_size=show_lastest_size %}

  <div class="more">
    {%- assign remain_posts_count = site.posts.size | minus: show_lastest_size -%}
    <a aria-label="查看更多文章" href="{% link archive.md %}">还有{{ remain_posts_count }}篇文章，前往 👉</a>
  </div>
  {% comment %}
    {%- if entry.category -%}
        {%- assign posts = site.categories[entry.category] -%}
            {%- else -%}
        {%- assign posts = site.posts-%}
    {%- endif -%}
    {%- include cards.html posts=posts -%}
  {% endcomment %}
{%- endif -%}
