<script defer src="https://unpkg.com/mermaid@9.1.4/dist/mermaid.min.js"></script>
<script>
    let dark = window.matchMedia("(prefers-color-scheme: dark)").matches;
    let themeColor = dark ? "dark" : "default";
   document.addEventListener("DOMContentLoaded", function(event) {
    mermaid.initialize({
      startOnLoad:false,
      theme: themeColor,
      fontFamily:'-apple-system,system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif',
      flowchart:{nodeSpacing:20, rankSpacing:20}
    });
    mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  });
</script>
