<nav>
  <div>
    <a aria-label="首页" href="{{ site.url }}"><span class="nav_font">{{ site.title }}</span></a>
  </div>
   
  <!-- 
  <ul>
      <li><a href="{{ site.url }}">{{ site.title }}</a></li>
  </ul>
  -->
  <div>
    <div class="nav_right_region">
      <div class="nav_right_region_item">
        <a aria-label="文章分类" title="文章分类" href="/categories/"><span class="nav_font">分类</span></a>
      </div>
      <div class="nav_right_region_item">
        <a aria-label="RSS订阅" title="RSS订阅"  href="/feed.xml"><span class="nav_font">RSS</span></a>
      </div>
    </div>
   
  </div>
 
    <!-- 
    <li>作品</li>
    <li>关于</li>
    -->
  
</nav>