
{% if include.posts.size > 0 %}
<ul>
    {% for post in include.posts %}
    
    {% if include.limit_size %}
        {% if forloop.index > include.limit_size %}
            {% break %}
        {% endif %}
    {% endif %}
    <li>
         <a href="{{ post.url | absolute_url }}"> {{ post.title }}</a> 
         {% if include.show_category %}
         <samp>
            <a href="/categories/#{{ post.categories[0] }}">
                <small>{{ post.categories[0] }}</small></a>
        </samp>
         {% endif %}
         {% if include.show_tag %}
         {% for tag in post.tags limit:3 %}
         <samp>
            <a href="/tags/#{{ tag }}"><small>#{{ tag }}</small></a>
        </samp>
         {% endfor %}
        
         {% endif %}
         <em><small>&emsp;{{ post.date | timeago }}</small></em>
        <small>{{ post.excerpt }}</small>
    </li>
{% endfor %}
</ul>
{% endif %}