---

---

@import "mvp";
#markdown-toc::before {
    content: "目录";
    font-family: inherit;
    font-weight: bold;
}
/* chinese font start from PingFang SC */
:root {
    --font-family: -apple-system,system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

aside a {
    text-decoration: none; 
    color: inherit;
    font-weight:normal;
}

aside a:hover {
    text-decoration: none; 
    color: inherit;
}

aside h1,
aside h2,
aside h3,
aside h4,
aside h5,
aside h6 {
    /*margin-block-end: 0.3em;*/
    line-height: calc(var(--line-height) / 5);
}

aside h3 + small {
    line-height: calc(var(--line-height) / 5);
}

/* card 下的 mark标签 用作 tag */
section aside mark {
    font-size: small;
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    color: var(--color-text);
    display: inline-block;
    margin: 0 0.2rem;
    padding: 0 0.4rem;
}

section aside mark.update {
    background-color:#ff1493;

}
@media (prefers-color-scheme: dark) {
    section aside mark.update {
        background-color:#9932cc;    
    }
}


section aside mark small {
    color:#ffffff;
}

/* centered image tag */
img.centered {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

/* simulate figcaption tag */
img + em {
    display: block;
    text-align:center;
    font-size: small;
}

sup.latest {
    position:absolute;
    right: -8px;
    top: -8px;
}

sup.ongoing {
    transform: skewY(-30deg); 
    position:absolute;
    left: -10px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
}

sup.suspend {
    transform: skewY(-30deg);
    background: linear-gradient(-30deg, var(--color-text-secondary), var(--color-bg-secondary));
    position:absolute;
    left: -10px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
}

.slogan {
  
    font-size: larger;
    font-weight: bolder;
    background:linear-gradient(45deg,#e5b751,#1677b3,#cc5595 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;

}

.slogan > a {
    color:inherit;
    font-weight: inherit;
    filter:none;
}

.post_container {
    max-width: var(--width-post);
}