---

---

@import "mvp";
#markdown-toc::before {
    content: "目录";
    font-family: inherit;
    font-weight: bold;
}
/* chinese font start from PingFang SC */
:root {
    --light: var(--color-bg);
    --dark: var(--color-text);
    --font-family: -aple-system,system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

/* serie card */
.serie_card {
    position: relative;
}

.serie_card a {
    text-decoration: none; 
    font-weight:normal;
    color: inherit;
}

.serie_card a:hover, .darkmode--activated .serie_card a:hover {
    text-decoration: underline; 
}

.darkmode--activated .serie_card a {
    text-decoration: none; 
    font-weight:normal;
    color: var(--color-bg);
}

.darkmode--activated .serie_card p {
   color: var(--color-bg);
}




aside h1,
aside h2,
aside h3,
aside h4,
aside h5,
aside h6 {
    line-height: calc(var(--line-height) / 5);
}

aside h3 + small {
    line-height: calc(var(--line-height) / 5);
}


.card_img {
    width: 285px;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
  /* 仅在desktop browser 下启用 card 的图片动效 */
@media only screen and (min-width:961px) {

    .card_img {
        -webkit-transition: transform 0.5s ease;
        -moz-transition: transform 0.5s ease;
        -ms-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
     
    }

    .card_img:hover {
        border: 1px solid var(--color-bg-secondary);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow) var(--color-shadow);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);    
    }
}




/* card 下的 mark标签 用作 tag */
section aside mark {
    font-size: small;
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    color: var(--color-text);
    display: inline-block;
    margin: 0 0.2rem;
    padding: 0 0.4rem;
}

section aside mark.update {
    background-color:#ff1493;
}

section aside mark small {
    color:#ffffff;
}

/* centered image tag */
img.centered {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

/* simulate figcaption tag */
img + em {
    display: block;
    text-align:center;
    font-size: small;
}

sup.latest {
    position:absolute;
    right: -8px;
    top: -8px;
}

sup.ongoing {
    transform: skewY(-30deg); 
    position:absolute;
    left: -10px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
}

sup.suspend {
    transform: skewY(-30deg);
    background: linear-gradient(-30deg, var(--color-text-secondary), var(--color-bg-secondary));
    position:absolute;
    left: -10px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
}

.post_container {
    max-width: var(--width-post);
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}

.intro .desc {
    font-size: medium;
    font-weight:lighter;
}

.intro .desc > .emoji {
    font-size: x-large;
}

.more {
    padding-left: 40px;
    margin-top: -16px;
    margin-bottom: 32px;
}

small > p {
    margin-top: 0.3rem;
    margin-bottom: 0.75rem;
}

.copyright {
    margin-top:2.5rem;
    margin-bottom: 1rem;
}

.copyright  hr {
    margin: 1rem 0;
}

.tag_list {
    justify-content: center;
    align-items:center;
    margin-bottom: 24px;
}

.tag_list > samp {
    margin: 0.2rem 0.2rem;
}

.nav_font {
    font-size: larger;
    font-weight: 400;
    background:linear-gradient(45deg,#e5b751,#1677b3,#cc5595 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
}

/* darkmode switch */

.darkmode-switch {
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    width: 26px;
    height: 26px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
}

.darkmode-switch:hover {
    cursor: pointer;
}

.moon {
    font-family: var(--font-family);
}

button {
    padding: 0;
    margin: 0;
}