<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>博杰的随笔 - {{ page.title }}</title>
	<link rel="stylesheet" href="http://cdn.staticfile.org/typo.css/1.1/typo.min.css" type="text/css" media="screen" charset="utf-8"/>
	<style>
		code{ color:#1abc9c; }
		html{ background:#eee; }
		body{ width:90%; max-width: 960px; background:#fff; margin:3em auto 0; padding-top:2em;border:1px solid #ddd;border-width:0 1px;}
		#wrapper{ padding:5% 10%; position:relative;}
		#tagline{ color:#999; font-size:1em; margin:-2em 0 2em; padding-bottom:2em; border-bottom:3px double #eee; }
		#indentation { margin:0em 0em 0em 2em; }
	</style>
  </head>
  <body>
    <div id='wrapper' class='typo'>
      <header>
        <h1><a href='/'>关于兴趣爱好的随笔</a></h1>
		<br>
		<h2 id="tagline"></h2>
      </header>
      <section id='content'>
        {{ content }}
		<div class='clearfix'></div>
      </section>
	  <footer>
	  版权声明：自由转载-非商用-非衍生-保持署名（<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创意共享3.0许可</a>）
	  </footer>
   </div>
  {% include footer.html %}
  </body>
</html>