---
layout: default
paginator_enabled: true
---
<main class="post_container">
  <article data-clarity-region="article">
    <header>
      <div class="post_head">
        <small class="category_eyebrow">{{ page.categories[0] }}</small>
        {% if page.updated_at %}
          <small>
            <time datetime="{{- page.updated_at | date: site.date_format -}}">
              {{- page.updated_at | date: site.date_format -}}
            </time>
            最后更新
          </small>
        {% else %}
          <small>
            <time datetime="{{- page.date | date: site.date_format -}}">
              {{- page.date | date: site.date_format -}}
            </time>
          </small>
        {% endif %}
        <h2>{{ page.title }}</h2>
        <div class="post_excerpt">
          {{ page.excerpt }}
        </div>
        {% if page.tags.size > 0 %}
          <section class="tag_list">
            {% for tag in page.tags %}
              <samp>
                <a aria-label="访问{{ tag }}标签页" href="/tags/#{{ tag }}">#{{ tag }}</a>
              </samp>
            {% endfor %}
          </section>
        {% endif %}

        <hr>
        {%- if page.image.path -%}
          <img title="{{ page.image.alt }}" alt="{{ page.image.alt }}" src="{{ page.image.path | relative_url }}">
          <div>
            <small>
              <i>{{ page.image.alt }}</i>
            </small>
          </div>
        {%- endif -%}
      </div>
    </header>
    <div class="main">
      {{ content }}
    </div>

    {% if page.show_copyright_enabled %}
      <section class="copyright">
        <header>
          <small
            ><span style="font-family:arial;">&copy;</span>
            本文版权使用<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创意共享3.0许可证</a
            >(自由转载-非商用-非衍生-保持署名)</small
          >
        </header>
        <hr>
      </section>
    {% endif %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    {% if page.series %}
      <section>
        <details open>
          <summary>本系列文章列表</summary>
          {% assign current_series = site.posts | where: 'series', page.series | sort: 'date' | sort: 'series_order' %}
          {% if current_series.size > 0 %}
            <ol>
              {% for serie in current_series %}
                {% if page.id != serie.id %}
                  <li>
                    <a aria-label="访问{{ serie.title }}文章" href="{{ serie.url }}"> {{ serie.title }}</a>
                    <em>
                      <small>&emsp;{{ serie.date | timeago }}</small>
                    </em>
                  </li>
                {%- else -%}
                  <li>
                    <em>
                      {{- serie.title -}}
                      <small>&emsp;{{ serie.date | timeago }}</small>
                    </em>
                  </li>
                {% endif %}
              {% endfor %}
            </ol>
          {% endif %}
        </details>
      </section>
    {% endif %}

    {% if page.show_related_posts_enabled %}
      {% assign category_name = page.categories[0] %}
      <section>
        <details open>
          <summary>「{{ category_name }}」分类下的其他文章</summary>
          {% assign posts_in_same_category_except_current_post = site.categories[category_name]
            | where_exp: 'item', 'item.id != page.id'
          %}
          {% include post_list_fragment.html posts=posts_in_same_category_except_current_post show_tag=true limit_size=5 %}
        </details>
      </section>
    {% endif %}

    {% if page.paginator_enabled %}
      <section style="justify-content: space-around">
        {% if page.previous %}
          <a aria-label="访问上一篇文章" href="{{ page.previous.url }}">上一篇</a>
        {% endif %}
        <a aria-label="会到首页" href="{{ site.url }}">回首页</a>
        {% if page.next %}
          <a aria-label="访问下一篇文章" href="{{ page.next.url }}">下一篇</a>
        {% endif %}
      </section>
    {% endif %}
  </article>
</main>
