---
layout: default
paginator_enabled: true
---
<main class="post_container">
  <article>
    <header>
      {%- if page.cover_url -%}
      <img title="{{ page.cover_desc }}" alt="{{ page.cover_desc }}" src="{{ page.cover_url | relative_url }}">
      {%- endif -%}
        <h2>{{ page.title }}</h2>
      <h3><time datetime="{{- page.date | date: site.date_format -}}">{{- page.date | date: site.date_format -}}</time></h3>
      {% if page.updated_at %}
      <small>最后更新于：<time datetime="{{- page.updated_at | date: site.date_format -}}">{{- page.updated_at | date: site.date_format -}}</time></small>
      {% endif %}      
    </header>
    <div class="main">
      {{ content }}
    </div>

    {% if page.tags.size > 0 %}
      <section>
        {% for tag in page.tags %}
        <samp>
          <a href="/tags/#{{ tag }}"><small>#{{ tag }}</small></a>
      </samp>
        {% endfor %}
      </section>
    {% endif %}

    {% if page.show_copyright_enabled %}
    <section class="copyright">
      <header>
        <small><span style="font-family:arial;">&copy;</span> 本文使用自由转载-非商用-非衍生-保持署名<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">(创意共享3.0许可证)</a></small>
      </header>
      <hr>
    </section>
    {% endif %}
    

      {% if page.mermaid %}
        {% include mermaid.html %}
      {% endif %}
  
      {% if page.series %}
      <section>
        <details open>
          <summary>本系列文章列表</summary>
        {% assign current_series = site.posts | where: "series", page.series | sort: 'date' | sort: 'series_order' %}
        {% if current_series.size > 0 %}
        <ol>
          {% for serie in current_series %}
          {% if page.id != serie.id %}
          <li> <a href="{{ serie.url }}">{{ serie.title }}</a><em><small>&emsp;{{ serie.date | timeago }}</small></em>
          {%-else-%}
          <li><em>{{ serie.title }}<small>&emsp;{{ serie.date | timeago }}</small></em></li>
          {% endif %}
          {% endfor %}
        </ol>
        {% endif %}
      </details>
      </section>
      {% endif %}
    
  {% if page.show_related_posts_enabled %}
    {%assign category_name = page.categories[0] %}
    <section>
      <details open>
        <summary>「{{ category_name }}」分类下的其他文章</summary>
    {% assign posts_in_same_category_except_current_post = site.categories[category_name] | where_exp:"item", "item.id != page.id" %}
    {% include post_list_fragment.html posts=posts_in_same_category_except_current_post show_tag=true limit_size=5 %}
    </details>
    </section>
  {% endif %}

    {% if page.paginator_enabled %}
    <section style="justify-content: space-around">
          {% if page.previous %}
              <a href="{{ page.previous.url }}">上一篇</a> 
          {% endif %}
          <a href="{{ site.url }}">回首页</a> 
          {% if page.next %}        
              <a href="{{ page.next.url }}">下一篇</a>
          {% endif %}
    </section>
    {% endif %}

  </article>
</main>
